:root {
  --off-white: #fafafa;
}

.nav-logo {
  height: 40px;
} 

.nav-logo:hover {
  cursor: pointer;
} 

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.welcome_background{
  background-image: url("./components/images/space3.jpg");
  opacity: 1;
  height:100vh;
}
.main_enclose{
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__text-box {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 20px 50px;
  
}
heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 32pt;
  line-height: 36pt;
  font-weight:600;
  /* letter-spacing: 0.5rem; */
  /* -webkit-animation-name: moveInLeft; */
  /* animation-name: moveInLeft; */
  /* -webkit-animation-duration: 1s; */
  /* animation-duration: 1s; */
  /* -webkit-animation-timing-function: ease-out; */
  /* animation-timing-function: ease-out; */
  margin-left: 30px;
  color:black;
  /* font-family: "Arial" !important; */
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  /* letter-spacing: 0.75rem; */
  /* -webkit-animation: moveInRight 1s ease-out; */
  /* animation: moveInRight 1s ease-out; */
}

.particles_background{
  background-color: #f5f5f5;
}
.name-text{
  color:purple
}
.project-button{
  margin-top: 20px;
  border-style: solid;  
  border-color: white;
  padding: 20px;
  color:white;
  font-weight: bold;
  border-radius:20px 50px;
  transition: 0.5s;
}
.project-button:hover{
  background-color:rgba(255, 255, 255, 0.5); 
  cursor: pointer;
  color: black;
}
.right-arrow{
  color: white;
}
.navbar-style{
  background-color:gray !important;
  font-weight:bold !important;
  overflow: hidden; 
  top: 0%!important;
}
.project-bg{
  align-content: center;
  align-items: center;
  text-align: center;
  height:100vh;
}
.skill-bg{
   text-align: center; 
}
.main-div{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.tabs-heading{
  letter-spacing: 0.5rem;
  /* color:#9a649a; */
  font-weight: bold;
}

.card_style_1,.card_style_3,.card_style_5,.card_style_7{
  /* background-color: #f5dee2 !important; */
  background: linear-gradient(110deg, #ffe4e1 60%, lightgray 60%)!important;
}
.card_style_2,.card_style_4,.card_style_6,.card_style_8{
  /* background-color: lightgray !important; */
  background: linear-gradient(110deg, lightgray 60%, #ffe4e1 60%)!important;
}
.card_style:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.7);
}

.project-inner-bg{
  background: linear-gradient(160deg,white 60%, #ffe4e1 60%)!important;
  height:80vh;
}  
.project_card_style{
  background-color: lightgray!important;
}