
:root {
  --off-white: #fafafa;
}

.nav-logo {
  height: 6vh;
} 
.nav-item:hover{
  cursor: pointer;
}
.nav-logo:hover {
  cursor: pointer;
} 
.navbar-collapse.in {
  display: block !important;
}

.welcome_background{
  background-image: url("./components/images/space3.jpg");
  opacity: 1;
  height:100vh;
}
.main_enclose{
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__text-box {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 20px 50px;
  
}
heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 32pt;
  line-height: 36pt;
  font-weight:600;
  /* margin-left: 30px; */
  color:black;
}

@media screen and (max-width: 1100px) {
  .heading-primary--main {
    font-size: 20pt;
    line-height: 25pt;
  }
}
.particles_background{
  background-color: #f5f5f5;
}
.name-text{
  color:purple
}
.project-button{
  margin-top: 20px;
  border-style: solid;  
  border-color: white;
  padding: 20px;
  color:white;
  font-weight: bold;
  border-radius:20px 50px;
  transition: 0.5s;
}
.project-button:hover{
  background-color:rgba(255, 255, 255, 0.5); 
  cursor: pointer;
  color: black;
}
.right-arrow{
  color: white;
}
.navbar-style{
  background-color:gray !important;
  font-weight:bold !important;
  overflow: hidden; 
  top: 0%!important;
}
.project-bg{
  align-content: center;
  align-items: center;
  text-align: center;
  min-height:100vh;
}
.skill-bg{
   text-align: center; 
}
.main-div{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.tabs-heading{
  letter-spacing: 0.5rem;
  font-weight: bold;
}

.card_style_1,.card_style_3,.card_style_5,.card_style_7{
  background: linear-gradient(110deg, #ffe4e1 60%, lightgray 60%)!important;
}
.card_style_2,.card_style_4,.card_style_6,.card_style_8{
  background: linear-gradient(110deg, lightgray 60%, #ffe4e1 60%)!important;
}
.card_style:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.7);
}

.project-inner-bg{
  background: linear-gradient(160deg,white 60%, #ffe4e1 60%)!important;
  min-height:80vh;
}  
.project_card_style{
  background-color: lightgray!important;
}
.project_card_style:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.7);
  cursor:pointer;
}
.aboutme-bg{
  align-content: center;
  align-items: center;
  text-align: center;
  min-height:100vh;
}

.aboutme-inner-bg{
  background: linear-gradient(160deg,#ffe4e1 60%, white 60%)!important;
  min-height:80vh;
}  
.github_style{
  background-color:lightgray ;
  border-radius:10px;
}
.github_style:hover{
  transform: scale(2);
}
.github_style_modal:hover{
  transform: scale(1.05);
}
.view-project-style{
  border-style: solid;
  border-color: white;
  color: white;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight:bold;
}
.view-project-style:hover{
  cursor:pointer;
  background-color: white;
  opacity:0.7;
  color:black;
  transform: scale(1.05);
}
.recommendations{
  background-color: lightgray;
  border-radius: 20px 50px;
  padding:20px;
}
.w-100 {
  width: 100% !important;
  height: 35vh;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 20px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 20px;
  color: black;
}
.recommendations:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.7);
  cursor:pointer;
}
.name_a:hover{
  text-decoration: none;
}
.adventure_bg{
  min-height:100vh;
}
.img-border-style{
    border-style:ridge;
    border-color:gray;
    padding:10px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.adv-img-style:hover,.img-border-style:focus{
  display:block;
  transform: scale(1.10);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.7);
}
.contact-bg{
  align-content: center;
  align-items: center;
  text-align: center;
  min-height:100vh;
}
.form-row-style{
  background-color: #ffe4e1;
  border-style: solid;
  border-color: gray;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.7);
  justify-content: center;
  padding:10px;
}
.submit-button-style{
  background-color: lightgray;
}
.other-contact{
  justify-content: center;
}
.disable-button-style:hover{
  cursor: not-allowed;
}
.e_style:hover{
  transform: scale(1.15);
}
@media screen and (max-width: 1024px) {
  .nav-logo {
      height: 5vh !important;
  }
}
@media screen and (max-width: 1024px) {
  .fixed_linkedin {
      display: none !important;
  }
}
.navbar-nav .active div {
  color: black;
  border-style:ridge;
  border-color: white;
  border-radius:30px;    
}
.nav-item div:hover {
  color: pink!important;
}
.tabs-heading:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
